/requirements.txt
/requirements-last-build.txt
*.charm
*.py[cod]
.coverage
coverage.xml
.terraform
.terraform.lock.hcl
.tox/
.idea/
.vscode/
__pycache__/
build/
venv/
.venv/
.pytest_cache/
*.egg-info/
dist/
.ruff_cache/
poetry.lock
bin/
pkg/
# Ignore files starting with = (likely from shell redirects or pip issues)
=*

